:root {
    --button-color: #ff5e84;
    --text-color: #FFFFFF;
    --text-color2: #25282b;
}

body{
    background: #e5e5e5;
    color: var(--text-color2);

    text-align: center;
}

button {
    color: var(--button-color);

    border: none;

    font-weight: bold;
    background: none; 
}

.fat{
    color: var(--text-color);
    background: var(--button-color);
}

p{
    text-align: right;
}

#footer a {
    color: var(--text-color2);
    text-decoration: none;
}

.hide{
    display: none;
}